<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container">
        <h5>{{title}}</h5>
        <div class="navbar-header ">
            <a (click)="logout()" class="navbar-brand text-light" routerLinkActive="active">Logout</a>
        </div>
    </div>
</nav>


<body class="container">

    <!-- detail -->
    <div style="margin: 1rem; margin-top: 7% ;  ">
        <h2 class="text-center">CMS Config</h2>
        <div class="row">
            <div class="col-12">
                <div style="margin-top: 48px;">
                    <p><b> Flip The Cup Game Difficulty </b></p>
                </div>
                <div class="card" style="padding: 24px;  ">
                    <table class=" text-center table table-sm table-bordered text-center">
                        <thead class="table-active">
                            <tr>
                                <th>Level</th>
                                <th>Point for pay</th>
                                <th>Reward</th>
                                <th>Amount of win</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let loopdata of configData">
                                <td class="text-nowrap ">{{ loopdata.level }}</td>
                                <td class=" text-nowrap">{{ loopdata.point }}</td>
                                <td class=" text-nowrap">{{ loopdata.reward }}</td>
                                <td class=" text-nowrap">{{ loopdata.amountWin }}</td>
                                <td class=" text-nowrap">
                                    <button type="button" class="color-ais block2"
                                        (click)="levelOnChange(loopdata.levelIdx,'set')">Edit</button>
                                    <button type="button" class="color-ais  block2"
                                        (click)="levelOnChange(loopdata.levelIdx,'diff')">Edit Difficulty</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- / detail -->

    <!-- modal loadling -->
    <input type="button" id="modalLoading" name="modalLoading"
        onclick="document.getElementById('modalLoad').style.display='block'" hidden>
    <input type="button" id="closeModalLoading" name="closeModalLoading"
        onclick="document.getElementById('modalLoad').style.display='none'" hidden>

    <div id="modalLoad" class="w3-modal" style=" z-index: 999;">
        <div class="text-center" style="margin-top:15% ;">
            <div class="spinner-border " style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- / modal loadling -->


    <!-- modal Edit Set -->
    <input type="button" id="modalEdit" name="modalEdit" onclick="document.getElementById('Edit').style.display='block'"
        hidden>
    <input type="button" id="closeModalEdit" name="closeModalEdit"
        onclick="document.getElementById('Edit').style.display='none'" hidden>

    <div id="Edit" class="w3-modal">
        <div class="text-center" style="margin-top:3% ;">
            <div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <span class="d-block p-2 bg-dark text-white" style="margin-top: 24px;">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true" id="closeModalEdit" name="closeModalEdit"
                                    onclick="document.getElementById('Edit').style.display='none'"
                                    (click)="getConfig()">&times;</span>
                            </button>
                            Setting Config : <span style="color: rgb(196, 196, 196);">{{difficulty}} Level</span>
                        </span>
                        <div class="card" style="padding: 0px 24px 24px 24px; ">
                            <div class="form-group form-config ">
                                <form [formGroup]="configForm" (ngSubmit)="save()">

                                    <div class="input-group input-frm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-val">Point for play</span>
                                        </div>
                                        <select class="custom-select" formControlName="pointIdx"
                                            [ngClass]="{ 'is-invalid': submitted && f.pointIdx.errors }" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>


                                        <div *ngIf="submitted && f.pointIdx.errors" class="invalid-feedback">
                                            <div *ngIf="f.pointIdx.errors.required">point for play is required</div>
                                        </div>
                                    </div>

                                    <div class="input-group input-frm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-val">Reward</span>
                                        </div>
                                        <select class="custom-select" formControlName="rewardIdx"
                                            [ngClass]="{ 'is-invalid': submitted && f.rewardIdx.errors }" required>
                                            <option value="1">20</option>
                                            <option value="2">50</option>
                                            <option value="3">100</option>
                                        </select>
                                        <div *ngIf="submitted && f.rewardIdx.errors" class="invalid-feedback">
                                            <div *ngIf="f.rewardIdx.errors.required">reward is required</div>
                                        </div>
                                    </div>

                                    <div class="input-group input-frm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-val">Amount of Win</span>
                                        </div>
                                        <select class="custom-select" formControlName="amountWin"
                                            [ngClass]="{ 'is-invalid': submitted && f.amountWin.errors }"
                                            (change)="amountWinOnChange()" required>
                                            <option value={{number}} *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
                                                {{number}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.amountWin.errors" class="invalid-feedback">
                                            <div *ngIf="f.amountWin.errors.required">Amount of Win is required</div>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="color-ais block butsubmit">Save</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- / modal  Edit Set -->


    <!-- modal Edit -->
    <input type="button" id="modalDeff" name="modalDeff"
        onclick="document.getElementById('diffDetail').style.display='block'" hidden>
    <input type="button" id="closeModalDeff" name="closeModalDeff"
        onclick="document.getElementById('diffDetail').style.display='none'" hidden>

    <div id="diffDetail" class="w3-modal">
        <div class="text-center" style="margin-top:3% ;">
            <div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <span style="margin-top: 24px;" class="d-block p-2 bg-dark text-white">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true" id="closeXDiff" name="closeXDiff"
                                    onclick="document.getElementById('diffDetail').style.display='none'"
                                    (click)="getConfig()">&times;</span>
                            </button>
                            Difficulty Detail : <span style="color: rgb(196, 196, 196);">{{difficulty}}
                                Level</span></span>
                        <div class="card" style="padding: 24px; ">
                            <table class=" table table-sm table-bordered text-center">
                                <thead class="table-active">
                                    <tr>
                                        <th>Flip</th>
                                        <th>Speed(1-14)</th>
                                        <th>fip Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let loopdata of diffDetail; let i = index;">
                                        <td class="text-nowrap" style="color: rgb(50, 136, 38);">{{ loopdata.flip }}
                                        </td>
                                        <td class=" text-nowrap">
                                            <select class="custom-select" value={{loopdata.speed}}
                                                [(ngModel)]="diffDetail[i].speed" (change)="diffConvert()">
                                                <option value="1100">1</option>
                                                <option value="1000">2</option>
                                                <option value="900">3</option>
                                                <option value="800">4</option>
                                                <option value="700">5</option>
                                                <option value="600">6</option>
                                                <option value="500">7</option>
                                                <option value="400">8</option>
                                                <option value="300">9</option>
                                                <option value="200">10</option>
                                                <option value="160">11</option>
                                                <option value="120">12</option>
                                                <option value="80">13</option>
                                                <option value="40">14</option>
                                            </select>
                                        </td>
                                        <td class=" text-nowrap">
                                            <select class="custom-select" value={{loopdata.flipAmt}}
                                                [(ngModel)]="diffDetail[i].flipAmt" (change)="diffConvert()">
                                                <option value={{number}} *ngFor="let number of fipAmtOptionList">
                                                    {{number}}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <button *ngIf="!submitted" type="submit" class="color-ais block butsubmit"
                                    (click)="save()">Save</button>
                                <button *ngIf="submitted" disabled type="submit"
                                    class="color-ais block butsubmit">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- / modal Edit -->



    <!-- btnRewardstaus -->
    <!-- <div class="" style="padding-top: 24px; margin: 12px; ">
        <p style="color: red;">* Temporary use for developer mode</p>
        <button type="button" (click)="changeRewardLimite()" class="btn btn-success " *ngIf="!btnRewardLimit">Click to
            open! (Use of reward limits)</button>
        <button type="button" (click)="changeRewardLimite()" class="btn btn-danger " *ngIf="btnRewardLimit">Click to
            close! (Use of reward limits)</button>
    </div> -->

    <!-- <div class="card" style="margin-top: 100px; margin-bottom: 20% ;  margin: 24px;">

    </div> -->

    <div style="margin-top: 100px; margin-bottom: 20% ;  margin: 24px;">
        <app-report-charts></app-report-charts>
    </div>

    <div style="margin-bottom: 20%;"></div>


</body>