.baground_forest {
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background: transparent url(../../assets/aunjaiAssets/bg/min/bg_AIS_Game_1024x768-min.png);
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}
.text_Bye {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
   
    font-size: 5vw;
    font-weight: bold;
    font-family: "DB Heavent";

}

.bodyThis {
    width: 90%;
    height: 50%;
    display: table;
    margin: 0 auto;
    z-index: 100;
    top: 10vh;
    background-color: white;
    border-radius: 4vh;
    padding: 2vh;
    position: relative;
}

