#content {
    width: 720px;
    margin: 10px auto;
    background-color: #fff;
    min-height: 1280px;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: #888 0px 0px 5px;
    background-image:url(../../../../assets/aunjaiAssets/bg/bg_AIS_Game_1024x768.png);
    background-size: auto 100%;
    background-position: center;

    background-repeat:no-repeat;
    background-position: center center;
    min-height:100%;
}
