<div id="body-popup">
    <div id="content">
        <div class="aunjai-logo">

        </div>
        <button class="close"> <span id="btnclosepopup"></span></button>

    </div>
    <div style="text-align: center;">
        <span class="textBody"> <b> เย้.!!! </b></span><br>
        <span class="textBody"> ยินดีด้วย ลุยต่อเลย</span>

        <div id="divBtn">
            <button class="buttonResume" id="btn_resume">
                เล่นเลย
            </button>
        </div>
    </div>
</div>