<div id="body-popup">
    <div style="text-align: center;" class="bodyThis" *ngIf="language === 'th'">
        <div class="aunjai-logo">
        </div>
        <span class="textBody" style="font-size: 6vw;"> <b> เย้.!!! </b></span><br>
        <span class="textBody"> ยินดีด้วย ลุยต่อเลย</span>
        <button class="buttonResume" id="btn_resume" (click)="resume();">
            เล่นต่อ
        </button>
    </div>

    <div style="text-align: center;" class="bodyThis" *ngIf="language === 'en'">
        <div class="aunjai-logo-ENG">
        </div>

        <span class="textBody" style="font-size: 6vw;"> <b> Congratulations!!! </b></span><br>
        <span class="textBody"> Move on to next game</span>

        <button class="buttonResume" id="btn_resume" (click)="resume();" >
            CONTINUE
        </button>
    </div>
</div>