::ng-deep popup-game {
    font-family: "DB Helvethaica" !important;
}
.close {
    background: transparent url(../../../../assets/aunjaiAssets/component/close_ic.svg);
    top: 17%;
    margin: auto;
    background-position: center;
    min-height: 9%;
    min-width: 26%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    right: -6vw;
    outline: none;
    opacity: 1;
}

.aunjai-logo {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Group_2061@2x.png);
    top: 0px;
    margin: auto;
    background-position: center;
    min-height: 40%;
    min-width: 50%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.textSHow {
    top: 260px;
    position: relative;
    left: 38%;
}

.textBody {
    position: relative;
    font-size: 4vh;
    top: 20vh;
}

#body-popup {
    display: none;
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyThis {
    position: relative;
    width: 90%;
    height: 60vh;
    display: table;
    margin: 0 auto;
    z-index: 100;
    top: 20%;
    background-color: white;
    border-radius: 4vh;
    padding: 2vh;
}


.buttonResume {
    background: transparent url(../../../../assets/aunjaiAssets/component/btn@2x.png);
    border: none;
    top: 60vh;
    margin: auto;
    background-position: center;
    min-height: 14%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    opacity: 1;
    font-size: 6vw;
    left: 30%;
}


#btn_resume1,
#btn_resume2,
#btn_resume3,
#btn_resume4,
#btn_resume5 {
    display: none;
}


.container {
    padding: 0px;
    margin: 0px;
}
