<body>
    <div class="bg-img-style">
        <div>
            <img class="img-logo-reward-flip" src="../../../assets/aunjaiAssets/header/logo_ic@2x.png">
        </div>
        <div>
            <div>
                <div class="text-detail_20">
                    <div>เอไอเอสพอยท์ 20 คะแนน</div>
                    <div>ใช้ 1 คะแนนเพื่อเล่น</div>
                </div>
                <img class="btn_play_20" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                <img class="point_20" src="../../../assets/aunjaiAssets/component/20_Points@2x.png">
                <!-- <div class="box-landing_test"></div> -->
                <div class="box-landing_1"></div>
            </div>
            <div>
                <div class="text-detail_50">
                    <div>เอไอเอสพอยท์ 50 คะแนน</div>
                    <div>ใช้ 2 คะแนนเพื่อเล่น</div>
                </div>
                <img class="btn_play_50" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                <img class="point_50" src="../../../assets/aunjaiAssets/component/50-Points@2x.png">
                <div class="box-landing_2"></div>
            </div>
            <div>
                <div class="text-detail_100">
                    <div>เอไอเอสพอยท์ 100 คะแนน</div>
                    <div>ใช้ 3 คะแนนเพื่อเล่น</div>
                </div>
                <img class="btn_play_100" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                <img class="point_100" src="../../../assets/aunjaiAssets/component/100-Points@2x.png">
                <div class="box-landing_3"></div>
            </div>

        </div>
        <div>

        </div>
    </div>
</body>