<body>
    <div class="bg-img-style">
        <div>
            <img class="img-logo-reward-flip" src="../../../assets/aunjaiAssets/header/logo_ic@2x.png">
        </div>
        <div class="reward-flip" *ngIf="!open">
            <div>
                <!-- <div class="text-detail_20">
                    <div>เอไอเอสพอยท์ 20 คะแนน</div>
                    <div>ใช้ 1 คะแนนเพื่อเล่น</div>
                </div> -->
                <div class="box-landing_3" (click)="chooseLevel(1);">
                    <img class="test_3" src="../../../assets/aunjaiAssets/component/score20.png">
                    <img class="btn_play_20" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                    <img class="point_20" src="../../../assets/aunjaiAssets/component/20_Points@2x.png">
                </div>
            </div>
            <div>
                <!-- <div class="text-detail_50">
                    <div>เอไอเอสพอยท์ 50 คะแนน</div>
                    <div>ใช้ 2 คะแนนเพื่อเล่น</div>
                </div> -->
                <div class="box-landing_2" (click)="chooseLevel(2);">
                    <img class="test_2" src="../../../assets/aunjaiAssets/component/score50.png">
                    <img class="btn_play_50" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                    <img class="point_50" src="../../../assets/aunjaiAssets/component/50-Points@2x.png">
                </div>
            </div>
            <div>
                <!-- <div class="text-detail_100">
                    <div>เอไอเอสพอยท์ 100 คะแนน</div>
                    <div>ใช้ 3 คะแนนเพื่อเล่น</div>
                </div> -->
                <div class="box-landing_1" (click)="chooseLevel(3);">
                    <img class="test_1" src="../../../assets/aunjaiAssets/component/score100.png">
                    <img class="btn_play_100" src="../../../assets/aunjaiAssets/component/play_ic.svg">
                    <img class="point_100" src="../../../assets/aunjaiAssets/component/100-Points@2x.png">
                </div>
            </div>

        </div>


        <popup-error *ngIf="open" [redeem_point]="open"></popup-error>
        <div [routerLink]="['/tutorial']" routerLinkActive="router-link-active" class="how-to-play-border">
            <img class="how-to-play-ic" src="../../../assets/aunjaiAssets/component/how_to_play_ic@2x.png">
            <div class="text-how-to-play">How to Play</div>
        </div>
        <div class="text-condition" (click)="termCondition();">Terms&Conditions</div>
    </div>
</body>