<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container">
        <h5>{{title}}</h5>
        <div class="navbar-header ">
            <a (click)="pageCms()" class="navbar-brand text-light" routerLinkActive="active">Cms</a>
            <a (click)="logout()" class="navbar-brand text-light" routerLinkActive="active">Logout</a>
        </div>
    </div>
</nav>





<body class="container"
    style=" border-radius: 25px; margin-bottom: 25%; padding-bottom: 1px; zoom: 90%; min-height: 500px;">


    <!-- detail -->
    <div style="margin: 1rem; margin-top: 7% ; padding-top: 7%; ">
        <h2 class="text-center">Report</h2>


        <!-- modalLoad -->
        <div id="modalLoad" class="w3-modal" style=" z-index: 999;" *ngIf="loadStatus">
            <div class="text-center" style="margin-top:15% ; margin-bottom: 20%;">
                <div class="spinner-border " style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top:15% ;" *ngIf="loadStatus">
            <div class="spinner-border " style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div *ngIf="!loadStatus">
            <div style="margin-top: 48px; margin-bottom: 40px;">
                <p><b>Dashboard
                        <button class="btn btn-default float-right" (click)="ChooseDate()">Datetime range
                            <img src="https://img2.pngio.com/the-best-free-datepicker-icon-images-download-from-35-free-icons-date-picker-png-512_512.png"
                                width="40px" />
                        </button>
                    </b></p>
                <!-- <br> -->
            </div>

            <div class="row">
                <div class="col-12" style="margin-bottom: 14px;">
                    <!-- <div class="  float-right">
                        <a href="#">[Refresh]</a>
                        <a href="#">[last Hour]</a>
                        <a href="#">[Today]</a>
                        <a href="#">[Yesterday]</a>
                        <a href="#">[custom]</a>
                    </div> -->
                    <div *ngIf="filterBut" class=" btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-dark btn-group-sm"
                            (click)="filterDate('refresh')">[Refresh]</button>
                        <button type="button" class="btn btn-dark btn-group-sm" (click)="filterDate('hour')">[last
                            Hour]</button>
                        <button type="button" class="btn btn-dark btn-group-sm"
                            (click)="filterDate('today')">[Today]</button>
                        <button type="button" class="btn btn-dark btn-group-sm"
                            (click)="filterDate('yesterday')">[Yesterday]</button>
                        <button type="button" class="btn btn-dark btn-group-sm"
                            (click)="filterDate('custom')">[custom]</button>
                    </div>
                    <div *ngIf="!filterBut" class=" btn-group float-right" role="group" aria-label="Basic example">
                        <button disabled type="button" class="btn btn-dark btn-group-sm">[Refresh]</button>
                        <button disabled type="button" class="btn btn-dark btn-group-sm">[Last Hour]</button>
                        <button disabled type="button" class="btn btn-dark btn-group-sm">[Today]</button>
                        <button disabled type="button" class="btn btn-dark btn-group-sm">[Yesterday]</button>
                        <button disabled type="button" class="btn btn-dark btn-group-sm">[Custom]</button>
                    </div>
                </div>
            </div>



            <div style="margin-bottom: 24px;">
                <div class="card" style="padding: 24px; ">

                    <div *ngIf=" titieDate!== '' " style=" text-align: center; margin-bottom: 24px;">
                        <span style="color: rgb(61, 9, 9);"><b>Report Date: </b> </span>
                        <span style="color: rgb(155, 0, 0);"> {{ titieDate }}</span>
                        <span style="size: 16px;" _ngcontent-ecn-c1="" aria-hidden="true" id="closeXDiff"
                            name="closeXDiff" (click)="getReport()"> × </span>
                    </div>
                    <div *ngIf=" titieDate == '' " style=" text-align: center; margin-bottom: 24px;">
                        <span style="color: rgb(61, 9, 9);"><b>Report over date</b> </span>
                    </div>

                    <!-- <div id="chartDiv" class="row" style="padding: 24px;">
                        <div class="col-6">
                            <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;">
                            </div>
                        </div>
                        <div class="col-6">
                            <div id="chartContainer2" style="height: 370px; width: 100%; margin:auto;"></div>
                        </div>
                    </div> -->

                    <table class=" text-center table  table-sm table-bordered text-center" style="margin-top: 24px;">
                        <thead class="table-active color-ais ">
                            <tr>
                                <th>GameLevel</th>
                                <th>Visits</th>
                                <th>Visitors</th>
                                <th>Game won</th>
                                <th>Game Lost</th>
                                <th>Win(%)</th>
                                <th>Redeem pt</th>
                                <th>Reward pt</th>
                                <th>Benefit(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap ">Easy</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve1.visits),0) }}</td>
                                <td class=" text-nowrap">{{ fmtNum(reportData.leve1.visitors,0) }}</td>
                                <td class="text-nowrap ">{{ fmtNum(reportData.leve1.award,0) }}</td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((reportData.leve1.visits - reportData.leve1.award),0 ) }}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(((reportData.leve1.award / reportData.leve1.visits)*100),2)  }}%</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve1.visits * 1),0)}}</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve1.award * 20),0) }}</td>
                                <td class=" text-nowrap">
                                    {{fmtNum(( ( ( (reportData.leve1.visits * 1) - (reportData.leve1.award * 20) ) / (reportData.leve1.award * 20 ) )*100),2) }}%
                                </td>
                            </tr>
                            <tr style=" background-color: rgb(240, 250, 224); ">
                                <td class="text-nowrap ">Medium</td>
                                <td class=" text-nowrap">{{ fmtNum(reportData.leve2.visits,0) }}</td>
                                <td class=" text-nowrap">{{ fmtNum(reportData.leve2.visitors,0) }}</td>
                                <td class="text-nowrap ">{{ fmtNum(reportData.leve2.award,0) }}</td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((reportData.leve2.visits - reportData.leve2.award),0 ) }}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(((reportData.leve2.award / reportData.leve2.visits)*100),2)  }}%</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve2.visits * 2),0) }}</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve2.award * 50),0) }}</td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(( ( ( (reportData.leve2.visits * 2) - (reportData.leve2.award * 50) ) / (reportData.leve2.award * 50 ) )*100),2)}}%
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap ">Hard</td>
                                <td class=" text-nowrap">{{ fmtNum(reportData.leve3.visits,0) }}</td>
                                <td class=" text-nowrap">{{ fmtNum(reportData.leve3.visitors,0) }}</td>
                                <td class="text-nowrap ">{{ fmtNum(reportData.leve3.award,0) }}</td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((reportData.leve3.visits - reportData.leve3. award ),0) }}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(((reportData.leve3.award / reportData.leve3.visits)*100),2)  }}%</td>
                                <td class=" text-nowrap">{{ fmtNum((reportData.leve3.visits * 3),0) }}</td>
                                <td class=" text-nowrap">{{ fmtNum(( reportData.leve3.award * 100),0) }}</td> 
                                <td class=" text-nowrap">
                                    {{ fmtNum(( ( ( (reportData.leve3.visits * 3) - (reportData.leve3.award * 50) ) / (reportData.leve3.award * 100 ) )*100),2) }}%
                                </td>
                            </tr>
                            <tr style=" background-color: rgb(240, 240, 240); font-weight: bold">
                                <td class=" text-nowrap">SUM</td>
                                <td class=" text-nowrap">

                                    {{ fmtNum((reportData.leve1.visits + reportData.leve2.visits + reportData.leve3.visits),0) }}
                                </td>
                                <td class=" text-nowrap"> -
                                    <!-- {{ fmtNum((reportData.leve1.visitors + reportData.leve2.visitors + reportData.leve3.visitors),0)}} -->
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((reportData.leve1.award  + reportData.leve2.award  + reportData.leve3.award),0)}}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((reportData.leve1.game_Lost + reportData.leve2.game_Lost + reportData.leve3.game_Lost),0) }}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(sumPercentWon,2) }}%
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum((( (reportData.leve1.visits * 1) + (reportData.leve2.visits * 2) + (reportData.leve3.visits * 3) )),0) }}
                                </td>
                                <td class=" text-nowrap">
                                    {{ fmtNum(( (reportData.leve1.award * 30 ) + (reportData.leve2.award * 50) +(reportData.leve3.award * 100)),0) }}
                                </td>
                                <td class=" text-nowrap">

                                    {{ fmtNum(((((( (reportData.leve1.visits * 1) + (reportData.leve2.visits * 2) + (reportData.leve3.visits * 3) )) - 
                                        (( (reportData.leve1.award * 30 ) + (reportData.leve2.award * 50) +(reportData.leve3.award * 100)))) / 
                                        (( (reportData.leve1.award * 30 ) + (reportData.leve2.award * 50) +(reportData.leve3.award * 100)))) *100),2) }}
                                    %
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div id="chartDiv" class="row" style="padding: 24px; margin-bottom: 15%;">
                <div class="col-6">
                    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
                </div>
                <div class="col-6">
                    <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
                </div>
            </div>



            <!-- modal Edit Set -->
            <input type="button" id="modalChooseDate" name="modalChooseDate"
                onclick="document.getElementById('ChooseDate').style.display='block'" hidden>
            <input type="button" id="closemodalChooseDate" name="closemodalChooseDate"
                onclick="document.getElementById('ChooseDate').style.display='none'" hidden>


            <div id="ChooseDate" class="w3-modal" style="display: none;">
                <div class="text-center" style="margin-top:3% ;">
                    <div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <span class="d-block p-2 bg-dark text-white" style="margin-top: 24px;">
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="st_date = filter.st; en_date = filter.en">
                                        <span aria-hidden="true" id="closeXDiff" name="closeXDiff"
                                            onclick="document.getElementById('ChooseDate').style.display='none'">&times;</span>
                                    </button>
                                    Choose date
                                </span>
                                <div class="card" style="padding: 0px 24px 24px 24px;">
                                    <div style="margin: 48px;">

                                        <div style=" margin-bottom : 18px;">
                                            <span style="color: red;">
                                                <h4>{{ msgErrDate }}</h4>
                                            </span>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-date-input" class="col-4 col-form-label">Start
                                                Date</label>
                                            <div class="col-8">
                                                <input class="form-control" type="datetime-local" value="" id="st_date"
                                                    (click)="msgErrDate = '' " [(ngModel)]="st_date" #ctrl="ngModel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-date-input" class="col-4 col-form-label">End
                                                Date</label>
                                            <div class="col-8">
                                                <input class="form-control" type="datetime-local" value="" id="en_date"
                                                    (click)="msgErrDate = '' " [(ngModel)]="en_date" #ctrl="ngModel">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 "></div>
                                            <div *ngIf="st_date === undefined || st_date === '' || en_date == undefined || en_date == '' "
                                                class="col-8" style="margin-top: 28px;">
                                                <button type="button" disabled
                                                    class="color-ais block butsubmit">Confirm</button>
                                            </div>
                                            <div *ngIf="st_date!== undefined && st_date !== '' && en_date!== undefined && en_date !== ''"
                                                class="col-8" style="margin-top: 28px;">
                                                <button type="button" (click)="getReportTime()"
                                                    class="color-ais block butsubmit">Confirm</button>
                                            </div>
                                            <div class="col-2 "></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</body>