body {
    font-family: "DB Heavent";
}
.bg-img-style {
    background: transparent url(../../../assets/aunjaiAssets/bg/min/bg_AIS_Game_1024x768-min.png);
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.container_bg {
    width: 90%;
    margin: auto;
    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1005;
        background-color: rgba(85, 100, 47, 0.9); //สีตาม design แปลง rgba
    }
    .tutorial-card {
        width: 90%;
        margin: auto;
        position: relative;

        top: 10vh;
        // @media screen and (min-device-height: 750px) {
        //     top: 20vh;
        // }

        .h-t-p-1 {
            background: transparent url(../../../assets/aunjaiAssets/component/mini/how_en/how_to_play1_en.png);
            width: 100%;
            min-height: 140vw;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            // //margin: 6vh auto 0 auto;
            @media screen and (min-height: 1000px) {
                min-height: 100vw;
            }
        }
        .h-t-p-2 {
            background: transparent url(../../../assets/aunjaiAssets/component/mini/how_en/how_to_play2_en.png);
            width: 100%;
            min-height: 140vw;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            // //margin: 6vh auto 0 auto;
            @media screen and (min-height: 1000px) {
                min-height: 100vw;
            }
        }
        .h-t-p-3 {
            background: transparent url(../../../assets/aunjaiAssets/component/mini/how_en/how_to_play3_en.png);
            width: 100%;
            min-height: 140vw;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            //margin: 6vh auto 0 auto;
            @media screen and (min-height: 1000px) {
                min-height: 100vw;
            }
        }
        .h-t-p-4 {
            background: transparent url(../../../assets/aunjaiAssets/component/mini/how_en/how_to_play4_eng-min.png);
            width: 100%;
            min-height: 140vw;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            //margin: 6vh auto 0 auto;
            @media screen and (min-height: 1000px) {
                min-height: 100vw;
            }
        }

        .h-t-p-5 {
            background: transparent url(../../../assets/aunjaiAssets/component/mini/how_en/how_to_play5_eng-min.png);
            width: 100%;
            min-height: 140vw;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            //margin: 6vh auto 0 auto;

            @media screen and (min-height: 1000px) {
                min-height: 100vw;
            }
            .close-ic {
                position: absolute;
                right: 0vw;
                width: 15vw;

                @media screen and (min-width: 500px) {
                    position: absolute;
                    right: 13vw;
                    // width: 10vw;
                }
            }
        }
    }
}

.icon_prev {
    background: url(../../../assets/aunjaiAssets/component/arrow_back_ic-min.png);
    min-height: 11vw;
    min-width: 12vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 200;
    bottom: 0;
    left: 6.6vw;
    overflow: hidden !important;
    border: none;
    outline: none;
    padding: 0px;
    position: relative;
    float: left;
    @media screen and (min-width: 500px) {
        bottom: 0;
        left: 19vw;
    }
}

.icon_next {
    background: url(../../../assets/aunjaiAssets/component/arrow_next_ic-min.png);
    min-height: 11vw;
    min-width: 12vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 200;
    bottom: 0;
    left: -6vw;

    overflow: hidden !important;
    border: none;
    outline: none;
    padding: 0px;
    position: relative;
    float: right;
    @media screen and (min-width: 500px) {
        bottom: 0vw;
        left: -17vw;
    }
}
