<body *ngIf="goTutorialPage === true">
    <div class="bg-img-style">
    </div>
    <div class="container_bg">
        <div class="bg">
            <div class="tutorial-card">
                <div class="h-t-p-1" *ngIf="pageNo === 0"></div>
                <div class="h-t-p-2" *ngIf="pageNo === 1"></div>
                <div class="h-t-p-3" *ngIf="pageNo === 2"></div>
                <div class="h-t-p-4" *ngIf="pageNo === 3">

                </div>
                <div class="h-t-p-5" *ngIf="pageNo === 4">
                    <img class="close-ic" (click)="close_popup()"
                        src="../../../{{server}}assets/aunjaiAssets/component/close_ic-min.png">
                </div>

            </div>
            <div *ngIf="pageNo != 0">
                <button class="icon_prev" (click)="backPage()" *ngIf="pageNo != 4"></button>
            </div>

            <div *ngIf="pageNo != 4">
                <button class="icon_next" (click)="nextPage()"></button>
            </div>

        </div>
    </div>
</body>