<div id="body-popup-win" *ngIf="open_redeem_point == true && !openPopupReady">
    <div style="text-align: center;" class="bodyThis">

        <div *ngIf="statusLoad">
            <div class="spinner-border" role="status" style="margin-top: 35%;">
                <span class="sr-only ">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>

        <div *ngIf="!statusLoad">
            <div class="redeem-point" id="redeem-point" *ngIf="!insufficientPoint">
                <div *ngIf="language === 'th'">
                    <button class="close" (click)="close_popup()"></button>
                    <div class="aunjai-logo">
                    </div>
                    <span class="textBody"> ใช้เอไอเอสพอยท์ 3 คะแนน </span><br>
                    <span class="textBody"> เพื่อเล่นเกม?</span>
                    <button class="buttonGetTreat" id="btn_get_treat" (click)="redeem_point()">
                        แลกคะแนน
                    </button>
                </div>
                <div *ngIf="language === 'en'">
                    <div class="redeem-point" id="redeem-point" *ngIf="!insufficientPoint">
                        <button class="close" (click)="close_popup()"></button>
                        <div class="aunjai-logo">
                        </div>
                    </div>
                    <span class="textBody"> Redeem 3 Points to play </span>
                    <button class="buttonGetTreat" id="btn_get_treat" (click)="redeem_point()">
                        REDEEM
                    </button>
                </div>
            </div>
            <div class="redeem-point-failed" id="redeem-point-failed" *ngIf="insufficientPoint">
                <div *ngIf="language === 'th'">
                    <div class="aunjai-logo">
                    </div>
                    <div class="treatBox" id="win-goto">

                    </div>
                    <span class="textBody"> คุณมีเอไอเอสพอยท์ไม่พอ </span><br>
                    <span class="textBody"> เพื่อเล่นเกม </span>
                    <button class="buttonGetTreat" id="btn_get_treat" (click)="close_popup()">
                        กลับไปหน้าแรก
                    </button>
                </div>
                <div *ngIf="language === 'en'">
                    <div class="aunjai-logo">
                    </div>
                    <div class="treatBox" id="win-goto">

                    </div>
                    <span class="textBody"> You have insufficient AIS Points </span><br>
                    <span class="textBody"> to play this game </span>
                    <button class="buttonGetTreat" id="btn_get_treat" (click)="close_popup()">
                        HOMEPAGE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-reward-flip *ngIf="redeem_point == false && language === 'th'"></app-reward-flip>
<app-reward-flip-eng *ngIf="redeem_point == false && language === 'en'"></app-reward-flip-eng> -->

<popup-ready *ngIf="openPopupReady" [language]="language" ></popup-ready>