<div id="body-popup-win" *ngIf="open_redeem_point == true && !openPopupReady">
    <div style="text-align: center;" class="bodyThis">

        <div *ngIf="statusLoad">
            <div class="spinner-border" role="status" style="margin-top: 35%;">
                <span class="sr-only ">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>

        <div *ngIf="!statusLoad">
            <div *ngIf="!insufficientPoint">
                <div *ngIf="language === 'th'">
                    <button class="close" (click)="close_popup()"></button>
                    <div class="aunjai-logo">
                    </div>
                    <div>
                        <span class="textBody"> ใช้เอไอเอสพอยท์ 3 คะแนน </span><br>
                        <span class="textBody"> เพื่อเล่นเกม?</span>
                    </div>

                    <button class="buttonGetTreat" id="btn_get_treat" (click)="redeem_point()">
                        แลกคะแนน
                    </button>
                </div>
                <div *ngIf="language === 'en'">
                    <div class="redeem-point" id="redeem-point" *ngIf="!insufficientPoint">
                        <button class="close" (click)="close_popup()"></button>
                        <div class="aunjai-logo">
                        </div>
                    </div>
                    <span class="textBody"> Redeem 3 Points to play </span>
                    <button class="buttonGetTreat" id="btn_get_treat" (click)="redeem_point()"
                        style="margin-top: 30vh;">
                        REDEEM
                    </button>
                </div>
            </div>
            <div class="redeem-point-failed" id="redeem-point-failed" *ngIf="insufficientPoint">
                <div *ngIf="language === 'th'">
                    <div class="aunjai-logo">
                    </div>
                    <div class="treatBox" id="win-goto">

                    </div>

                    <div *ngIf="error_code !== 'E:16348'">
                        <span class="textBody"> คุณมีเอไอเอสพอยท์ไม่พอ </span><br>
                        <span class="textBody"> เพื่อเล่นเกม </span>
                    </div>
                    <div *ngIf="error_code === 'E:16348'">
                        <span class="textBody">โครงการนี้สำหรับผู้ใช้งานเอไอเอส</span> <br>
                        <span class="textBody">เอไอเอสไฟเบอร์ บุคคลธรรมดาเท่านั้น</span>
                    </div>
                    <div *ngIf="error_code === 'G:20001'">
                        <span class="textBody"> เกมยังไม่เปิดให้บริการ</span><br>
                    </div>

                    <button class="buttonGetTreat" id="btn_get_treat" (click)="close_popup()">
                        กลับไปหน้าแรก
                    </button>
                </div>
                <div *ngIf="language === 'en'">
                    <div class="aunjai-logo">
                    </div>
                    <div class="treatBox" id="win-goto">

                    </div>
                    <div *ngIf="error_code !== 'E:16348'">
                        <span class="textBody"> You have insufficient AIS Points </span><br>
                        <span class="textBody"> to play this game
                        </span>
                    </div>
                    <div *ngIf="error_code === 'E:16348'">
                        <span class="textBody"> This campaign is reserved for AIS</span><br>
                        <span class="textBody"> AIS Fibre residential customers only.</span>
                    </div>
                    <div *ngIf="error_code === 'G:20001'">
                        <span class="textBody">The game is not yet available.</span><br>
                    </div>




                    <button class="buttonGetTreat" id="btn_get_treat" (click)="close_popup()">
                        HOMEPAGE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-reward-flip *ngIf="redeem_point == false && language === 'th'"></app-reward-flip>
<app-reward-flip-eng *ngIf="redeem_point == false && language === 'en'"></app-reward-flip-eng> -->

<popup-ready *ngIf="openPopupReady" [language]="language"></popup-ready>