::ng-deep popup-win {
    font-family: "DB Heavent";
}
.treatBox_20 {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_20_score_ic@2x.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}
.treatBox_50 {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_50_score_ic.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}
.treatBox_100 {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_200_score_ic.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.treatBox_20_ENG {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_20_score_ic@2x_ENG.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.treatBox_50_ENG {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_50_score_ic@2x_ENG.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.treatBox_100_ENG {
    background: transparent url(../../../../assets/aunjaiAssets/component/for_200_score_ic@2x_ENG.png);
    top: 44%;
    background-position: center;
    min-height: 26%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

aunjai-logo-ENG{
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Aunjai_MiniHeart_ENtext@2x.png);
    top: 4vh;
    margin: auto;
    background-position: center;
    min-height: 30%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;

}
.aunjai-logo {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Group_2061@2x.png);
    top: 4vh;
    margin: auto;
    background-position: center;
    min-height: 30%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.textSHow {
    top: 260px;
    position: relative;
    left: 38%;
}

.textBody {
    position: relative;
    font-size: 5vw;
    top: 13vh;
}
#body-popup-win {
    display: none;
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyThis {
    position: relative;
    width: 90%;
    height: 66%;
    display: table;
    margin: 0 auto;
    z-index: 100;
    top: 20%;
    background-color: white;
    border-radius: 4vh;
    padding: 2vh;
    color: #49382f;
    font-style: italic;
}

#divBtn {
    position: absolute;
    top: 866px;
    width: 440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    zoom: 45%;
}

.buttonGetTreat {
    background: transparent url(../../../../assets/aunjaiAssets/component/btn@2x.png);
    border: none;
    top: 70vh;
    margin: auto;
    background-position: center;
    min-height: 10%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    left: 30%;
    opacity: 0.92;
    font-size: 6vw;
    font-family: "DB_Heavent_Bd_It";
    color: #49382F;
}

.container {
    padding: 0px;
    margin: 0px;
}



div.container4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .bg-load {
    opacity: 0.3;
    background-color: #858585;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
