<div id="body-popup-win">
    <div class="baground_forest">



    </div>
    <div style="text-align: center;" class="bodyThis">
        <div class="aunjai-logo">

        </div>
        <div class="treatBox" id="win-goto">

        </div>
        <span class="textBody" style="font-size: 7vw;"> <b> เย้.!!! </b></span><br>
        <span class="textBody"> คุณได้รับของ รางวัล</span>
        <button class="buttonGetTreat" id="btn_get_treat"  [routerLinkActive]="['isActive']" [routerLink]="['/popupContinue']">
            รับของรางวัล
        </button>
    </div>
</div>