::ng-deep popup-continue {
    font-family: "DB Helvethaica" !important;
}
.close {
    background: transparent url(../../../../assets/aunjaiAssets/component/close_ic.svg);
    top: 17%;
    margin: auto;
    background-position: center;
    min-height: 9%;
    min-width: 26%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    right: -2px;
    outline: none;
    opacity: 1;
}
#heading-Text {
    top: 62%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 0.7;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
    height: 30vh;
}

.aunjai_fly {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Group_2047@2x.png);
    top: 25vh;
    margin: auto;
    background-position: center;
    min-height: 34%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 30%;
}
.aunjai_Social {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Group_2048@2x.png);
    top: 29vh;
    margin: auto;
    background-position: center;
    min-height: 36%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}
.aunjai-logo {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Group_2061@2x.png);
    top: 0px;
    margin: auto;
    background-position: center;
    min-height: 35%;
    min-width: 50%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.textSHow {
    top: 260px;
    position: relative;
    left: 38%;
}

.textBody {
    position: relative;
    font-size: 5vw;
    top: 6vh;
}

.textBottom {
    position: relative;
    font-size: 3vh;
    top: 30vh;
}

#bottom {
    top: 8vh;
    position: relative;
    font-size: 5vw;
}
#body-popup-win {
    display: block;
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyThis {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
    z-index: 100;
    background-color: #a4ce29;
    padding: 2vh;
}

#divBtn {
    position: absolute;
    top: 866px;
    width: 440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    zoom: 45%;
}

.buttonNext {
    background: transparent url(../../../../assets/aunjaiAssets/component/btn@2x.png);
    border: none;
    top: 73vh;
    margin: auto;
    background-position: center;
    min-height: 14%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    opacity: 1;
    font-size: 2.6vh;
    left: 30%;
}

.container {
    padding: 0px;
    margin: 0px;
}
