::ng-deep popup-continue {
    font-family: "DB Heavent";
}

.firstPage{
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background: transparent url(../../../../assets/aunjaiAssets/bg/play_agin_bg.png);
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-left: -12px;
}
.playcompleteTH {
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background: transparent url(../../../../assets/aunjaiAssets/bg/ge_points_th.png);
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.playcompleteENG {
    background: transparent url(../../../../assets/aunjaiAssets/bg/ge_points_eng.png);
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;

}
.close {
    background: transparent url(../../../../assets/aunjaiAssets/component/close_ic-min.png);
    top: 0%;
    margin: auto;
    background-position: center;
    min-height: 9%;
    min-width: 26%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    right: -4%;
    outline: none;
    opacity: 1;
}
#heading-Text {
    top: 62%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 0.7;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
    height: 30vh;
}

.aunjai_fly {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/min/Group_2047@2x-min.png);
    top: 25vh;
    margin: auto;
    background-position: center;
    min-height: 34%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 30%;
}
.aunjai_Social {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/min/aunjai_play_agin-min.png);
    top: 29vh;
    margin: auto;
    background-position: center;
    min-height: 36%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}
.aunjai-logo {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/min/Group_2061@2x-min.png);
    top: 0px;
    margin: auto;
    background-position: center;
    min-height: 40%;
    min-width: 100%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 1vw;
}

.textSHow {
    top: 260px;
    position: relative;
    left: 38%;
}

.textBody {
    position: relative;
    font-size: 5vw;
    top: 6vh;
    color: #49382f;
    font-style: italic;
}

.textBottom {
    position: relative;
    font-size: 3vw;
    top: 30vh;
    color: #49382f;
    font-style: italic;
}

#bottom {
    top: 8vh;
    position: relative;
    font-size: 5vw;
    color: #49382f;
    font-style: italic;
}
#body-popup-win {
    display: block;
    pointer-events: all;
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyThis {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
    z-index: 100;
    background-color: #A4CE29;
    padding: 2vh;
}


.buttonplayENG{
    background: transparent url(../../../../assets/aunjaiAssets/component/mini/btn@2x-min.png);
    border: none;
    top: 82%;
    background-position: center;
    min-height: 10%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    opacity: 1;
    font-size: 6vw;
    left: 30%;
    color: #49382F;
    font-family: "DB_Heavent_Bd_It";
}

.buttonplayTH{
    background: transparent url(../../../../assets/aunjaiAssets/component/mini/btn@2x-min.png);
    border: none;
    top: 82%;
    background-position: center;
    min-height: 10%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    opacity: 1;
    font-size: 6vw;
    left: 30%;
    color: #49382F;
    font-family: "DB_Heavent_Bd_It";
}


.buttonNext {
    background: transparent url(../../../../assets/aunjaiAssets/component/mini/btn@2x-min.png);
    border: none;
    top: 80vh;
    margin: auto;
    background-position: center;
    min-height: 14%;
    min-width: 46%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    font-size: 6vw;
    left: 28%;
    font-family: "DB_Heavent_Bd_It";
}

.container {
    padding: 0px;
    margin: 0px;
}

div.container4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.bg-load {
    opacity: 0.3;
    background-color: #858585;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
