body {
    font-family: "DB Heavent";
}
.bg-img-style {
    width: 100%;
    min-height: 100%;
    position: fixed;
    box-shadow: #888 0px 0px 5px;
    background: transparent url(../../../assets/aunjaiAssets/bg/bg_AIS_Game_1024x768.png);
    // background-size: auto 100%;
    background-size: 245% 100%;
    background-position-x: center;
}

.container_bg {
    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1005;
        background-color: rgba(85, 100, 47, 0.9); //สีตาม design แปลง rgba
    }
    .card-tutorial {
        background-color: white;
        display: block;
        height: 68%;
        margin: 3rem;
        border-radius: 36px;
        bottom: 14%;
        position: fixed;
        font-style: italic;

        .text-header {
            margin: 1rem;
            text-align: center;
            font-size: 38px;
            font-weight: bolder;
            color: #49382f;
            opacity: 1;

            @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                font-size: 28px;
            }

            @media only screen and (max-device-width: 375px) {
                font-size: 22px;
            }
        }
        .card-content {
            margin: 1.5rem;
            text-align: left;
            font-size: 22px;
            color: #49382f;
            opacity: 1;

            @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                font-size: 14px;
            }

            @media only screen and (max-device-width: 375px) {
                margin: 1rem;
                font-size: 14px;

                @media screen and (max-device-height: 667px) {
                    font-size: 12px;
                }
            }

            @media only screen and (max-device-width: 360px) {
                font-size: 10px;
            }

            @media only screen and (max-device-width: 320px) {
                font-size: 9px;
            }

            .how-to-play2 {
                display: inherit;
                width: 37%;
                left: 32%;
                bottom: 29%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 35%;
                    left: 33%;
                }

                @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                    width: 42%;
                    left: 29%;
                    bottom: 32%;
                }

                @media only screen and (max-device-width: 375px) {
                    width: 43%;
                    left: 30%;
                    bottom: 31%;
                }
                @media only screen and (max-device-width: 360px) {
                    width: 46%;
                    left: 28%;
                    bottom: 34%;
                }
            }
            .how-to-play3 {
                display: inherit;
                width: 38%;
                left: 32%;
                bottom: 29%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 38%;
                    left: 32%;
                }

                @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                    width: 44%;
                    left: 28%;
                    bottom: 32%;
                }

                @media only screen and (max-device-width: 375px) {
                    width: 46%;
                    left: 28%;
                    bottom: 32%;
                }
            }
            .img-get-point {
                display: inherit;
                left: 35%;
                width: 32%;
                bottom: 33%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    bottom: 30%;
                }

                @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                    bottom: 31%;
                }

                @media only screen and (max-device-width: 375px) {
                    left: 30%;
                    width: 40%;
                    bottom: 30%;

                    @media screen and (max-device-height: 640px) {
                        left: 30%;
                        width: 40%;
                        bottom: 33%;
                    }
                }
            }
        }

        .ais-point-ic {
            display: inherit;
            left: 55%;
            width: 23%;
            bottom: 48%;
            position: fixed;

            @media only screen and (max-device-width: 375px) {
                display: inherit;
                left: 53%;
                width: 27%;
                bottom: 44%;
                position: fixed;
            }
        }
        .ais-aunjai {
            display: inherit;
            width: 54%;
            left: 20%;
            bottom: 17%;
            position: fixed;

            @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                display: inherit;
                width: 54%;
                left: 20%;
                bottom: 23%;
                position: fixed;
            }

            @media only screen and (max-device-width: 375px) {
                display: inherit;
                width: 62%;
                left: 17%;
                bottom: 22%;
                position: fixed;
            }
        }
        .tab-next {
            background-color: white;
            width: 86%;
            height: 9%;
            left: 7%;
            border-radius: 36px;
            bottom: 19%;
            position: fixed;

            @media screen and (max-device-height: 1024px) {
                width: 84%;
                height: 9%;
                left: 8%;
                bottom: 19%;
            }

            @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                background-color: white;
                width: 76%;
                height: 11%;
                left: 12%;
                border-radius: 36px;
                bottom: 21%;
                position: fixed;
            }

            @media only screen and (max-device-width: 375px) {
                background-color: white;
                width: 74%;
                height: 9%;
                left: 13%;
                border-radius: 36px;
                bottom: 22%;
                position: fixed;

                @media screen and (max-device-height: 640px) {
                    width: 72%;
                    height: 10%;
                    left: 14%;
                    bottom: 23%;
                }
            }

            @media only screen and (max-device-width: 320px) {
                width: 66%;
                height: 7%;
                left: 17%;
                border-radius: 36px;
                bottom: 24%;
            }

            .ic-next {
                display: inherit;
                width: 8%;
                left: 86%;
                bottom: 19%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    left: 84%;
                    bottom: 20%;

                    @media screen and (max-device-height: 1024px) {
                        width: 8%;
                        left: 82%;
                        bottom: 20%;
                    }
                }
                @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                    left: 76%;
                    bottom: 22%;
                    width: 10%;
                }
                @media only screen and (max-device-width: 375px) {
                    left: 76%;
                    bottom: 23%;
                    width: 9%;

                    @media screen and (max-device-height: 640px) {
                        left: 75%;
                        bottom: 24%;
                        width: 7%;
                    }
                }
                @media only screen and (max-device-width: 320px) {
                    left: 75%;
                    bottom: 25%;
                    width: 7%;
                }
            }
            .ic-back {
                display: inherit;
                width: 8%;
                left: 6%;
                bottom: 19%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 8%;
                    left: 8%;
                    bottom: 20%;

                    @media screen and (max-device-height: 1024px) {
                        width: 8%;
                        left: 10%;
                        bottom: 20%;
                    }
                }

                @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
                    width: 10%;
                    left: 15%;
                    bottom: 22%;
                }

                @media only screen and (max-device-width: 375px) {
                    width: 9%;
                    left: 16%;
                    bottom: 23%;

                    @media screen and (max-device-height: 640px) {
                        width: 7%;
                        left: 18%;
                        bottom: 24%;
                    }
                }

                @media only screen and (max-device-width: 320px) {
                    width: 7%;
                    left: 19%;
                    bottom: 25%;
                }
            }
        }
    }
}

.card-content-final {
    margin: 1.5rem;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #49382f;
    opacity: 1;

    .how-to-play5 {
        display: inherit;
        height: 72%;
        left: 19.5%;
        bottom: 12%;
        position: fixed;

        @media only screen and (max-device-width: 768px) {
            left: 20.5%;

            @media screen and (max-device-height: 960px) {
                left: 12.5%;
            }

            @media screen and (max-device-height: 900px) {
                left: 18%;
            }

            @media screen and (max-device-height: 810px) {
                left: 13%;
            }
        }

        @media only screen and (min-device-width: 410px) and (max-device-width: 500px) {
            left: 8.5%;

            @media screen and (max-device-height: 960px) {
                left: 5%;
            }

            @media screen and (max-device-height: 900px) {
                left: 8%;
            }
            @media screen and (max-device-height: 823px) {
                left: 3%;
            }
            @media screen and (max-device-height: 736px) {
                left: 8%;
            }
        }

        @media screen and (max-device-width: 375px) {
            height: 60%;
            left: 8.5%;
            bottom: 23%;
        }
        @media screen and (max-device-height: 667px) {
            height: 60%;
            left: 16%;
            bottom: 23%;
        }
    }
    .close-ic {
        width: 7%;
        left: 74%;
        bottom: 77%;
        position: fixed;

        @media only screen and (max-device-width: 768px) {
            left: 75%;
            bottom: 76%;

            @media screen and (max-device-height: 960px) {
                left: 78%;
                bottom: 77%;
            }

            @media screen and (max-device-height: 900px) {
                left: 82%;
                bottom: 77%;
            }

            @media screen and (max-device-height: 810px) {
                left: 79%;
                bottom: 77%;
            }
        }
        @media screen and (max-device-width: 500px) {
            left: 84%;
            bottom: 77%;
        }
        @media only screen and (max-device-width: 425px) {
            left: 82%;
            bottom: 77%;
            width: 9%;

            @media screen and (min-device-height: 810px) {
                left: 83%;
                bottom: 77%;
                width: 9%;
            }
        }
        @media only screen and (max-device-width: 375px) {
            @media screen and (max-device-height: 667px) {
                left: 76%;
                bottom: 77%;
                width: 9%;
            }
        }
    }
}
