<body>
    <div class="bg-img-style">
    </div>

    <div class="container_bg">

        <div class="bg">

            <div class="card-tutorial">
                <div>
                    <div id="page_one" *ngIf="pageNo === 0">
                        <div class="text-header">วิธีเล่น</div>
                        <div class="card-content">ผู้ร่วมกิจกรรมต้องเป็นสมาชิก เอไอเอสพอยท์
                            หากผู้ร่วมกิจกรรมยังไม่เป็นสมาชิก เอไอเอสพอยท์ สามารถสมัครสะสมพอยท์ฟรี โดย กด*550#
                            แล้วกดโทรออก
                            และรับทันที 30 เอไอเอสพอยท์ ฟรี</div>
                        <div>
                            <img class="ais-point-ic" src="../../../assets/aunjaiAssets/component/ais_points_ic@2x.png">
                        </div>
                        <div>
                            <img class="ais-aunjai" src="../../../assets/aunjaiAssets/avatar/Group_860@2x.png">
                        </div>
                    </div>

                    <div id="page_two" *ngIf="pageNo === 1">
                        <div class="text-header">วิธีเล่น</div>
                        <div class="card-content">
                            <div>1.เลือกเกมที่ต้องการเล่น</div>
                            <div>2. แลกเอไอเอสพอยท์ จำนวน 1 คะแนน, 2 คะแนน หรือ 3 คะแนน เพื่อรับสิทธิในการเล่นเกม
                                จำนวน 1 ครั้ง</div>
                            <div>
                                <img class="how-to-play2" src="../../../assets/aunjaiAssets/bg/for_how_to_play2@2x.png">
                            </div>
                        </div>
                    </div>

                    <div id="page_three" *ngIf="pageNo === 2">
                        <div class="text-header">วิธีเล่น</div>
                        <div class="card-content">
                            <div>ทำการเปิดแก้ว เพื่อหาน้องอุ่นใจที่ซ่อนอยู่ใต้แก้ว ให้ถูกต้อง ติดต่อกัน 3 ครั้ง, 4
                                ครั้ง
                                หรือ 5 ครั้ง จึงจะได้รับของรางวัล</div>
                            <div>
                                <img class="how-to-play3" src="../../../assets/aunjaiAssets/bg/for_how_to_play3@2x.png">
                            </div>
                        </div>
                    </div>

                    <div id="page_four" *ngIf="pageNo === 3">
                        <div class="text-header">วิธีเล่น</div>
                        <div class="card-content">
                            <div>ของรางวัลมีจำนวนจำกัด
                                ในกรณีที่มีผู้ร่วมกิจกรรมเล่นเกมและได้รับของรางวัลจากเกมจนครบจำนวนแล้ว
                                บริษัทฯจะปิดระบบการเล่นเกมนั้นทันที</div>
                            <hr>
                            <div>บริษัทฯ ขอสงวนสิทธิในการมอบของรางวัลให้กับผู้ร่วมกิจกรรม
                                3 รางวัลต่อ 1 หมายเลขโทรศัพท์เคลื่อนที่หรือหมายเลขเอไอเอสไฟเบอร์ตลอด โครงการ</div>
                            <hr>
                            <div>
                                <img class="img-get-point"
                                    src="../../../assets/aunjaiAssets/component/get_points_ic@2x.png">
                            </div>
                        </div>
                    </div>

                    <div class="tab-next" *ngIf="pageNo !== 4">
                        <img class="ic-next" src="../../../assets/aunjaiAssets/component/arrow_next_ic.svg"
                            (click)="nextPage()">
                        <img *ngIf="pageNo !== 0" class="ic-back"
                            src="../../../assets/aunjaiAssets/component/Group_2078.svg" (click)="backPage()">
                    </div>
                </div>
            </div>

            <div class="card-content-final" id="page_five" *ngIf="pageNo === 4">
                <img class="how-to-play5" src="../../../assets/aunjaiAssets/bg/for_how_to_play5@2x.png">
                <img class="close-ic" src="../../../assets/aunjaiAssets/component/close_ic.svg">
            </div>
        </div>
    </div>
</body>