<body *ngIf="goTutorialPage === true">
    <div class="bg-img-style">
    </div>
    <div class="container_bg">
        <div class="bg">
            <div class="card-tutorial">
                <div class="tutorial-card">
                    <img class="h-t-p-1" *ngIf="pageNo === 0"
                        src="../../../{{server}}assets/aunjaiAssets/component/mini/how_th/how_to_play1_th.png">
                    <img class="h-t-p-2" *ngIf="pageNo === 1"
                        src="../../../{{server}}assets/aunjaiAssets/component/mini/how_th/how_to_play2_th.png">
                    <img class="h-t-p-3" *ngIf="pageNo === 2"
                        src="../../../{{server}}assets/aunjaiAssets/component/mini/how_th/how_to_play3_th.png">
                    <img class="h-t-p-4" *ngIf="pageNo === 3"
                        src="../../../{{server}}assets/aunjaiAssets/component/mini/how_th/how_to_play4.png">
                    <div class="tab-next" *ngIf="pageNo !== 4">
                        <img class="ic-next"
                            src="../../../{{server}}assets/aunjaiAssets/component/arrow_next_ic-min.png"
                            (click)="nextPage()">
                        <img *ngIf="pageNo !== 0" class="ic-back"
                            src="../../../{{server}}assets/aunjaiAssets/component/arrow_back_ic-min.png"
                            (click)="backPage()">
                    </div>
                    <div class="last-tutorial" *ngIf="pageNo === 4">
                        <img class="how-to-play5"
                            src="../../../{{server}}assets/aunjaiAssets/component/mini/how_th/how_to_play5.png">
                        <img class="close-ic" (click)="close_popup()"
                            src="../../../{{server}}assets/aunjaiAssets/component/close_ic-min.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <app-reward-flip *ngIf="goTutorialPage === false"></app-reward-flip> -->