body {
}
.bg-img-style {
    width: 100%;
    min-height: 100%;
    position: fixed;
    box-shadow: #888 0px 0px 5px;
    background: transparent url(../../../assets/aunjaiAssets/bg/bg_AIS_Game_1024x768.png);
    background-size: auto 100%;
    background-position-x: center;
}

.container_bg {
    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1005;
        background-color: rgba(85, 100, 47, 0.9); //สีตาม design แปลง rgba
    }
    .card-tutorial {
        background-color: white;
        display: block;
        height: 68%;
        margin: 3rem;
        border-radius: 36px;
        bottom: 14%;
        position: fixed;
        font-style: italic;

        .text-header {
            margin: 1rem;
            text-align: center;
            font-size: 38px;
            font-weight: bold;
            font-family: DB Heavent;
            border-spacing: 0px;
            letter-spacing: 0px;
            color: #49382f;
            opacity: 1;
        }
        .card-content {
            margin: 1.5rem;
            text-align: left;
            font-size: 22px;
            font-weight: bolder;
            font-family: DB Heavent;
            letter-spacing: 0px;
            color: #49382f;
            opacity: 1;

            .how-to-play2 {
                display: inherit;
                width: 37%;
                left: 32%;
                bottom: 29%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 35%;
                    left: 33%;
                }
            }
            .how-to-play3 {
                display: inherit;
                width: 38%;
                left: 32%;
                bottom: 29%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 38%;
                    left: 32%;
                }
            }
            .img-get-point {
                display: inherit;
                left: 35%;
                width: 32%;
                bottom: 33%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    left: 35%;
                    bottom: 30%;
                }
            }
        }

        .ais-point-ic {
            display: inherit;
            left: 55%;
            width: 23%;
            bottom: 48%;
            position: fixed;
        }
        .ais-aunjai {
            display: inherit;
            width: 54%;
            left: 20%;
            bottom: 17%;
            position: fixed;
        }
        .tab-next {
            background-color: white;
            width: 86%;
            height: 11%;
            left: 7%;
            border-radius: 36px;
            bottom: 19%;
            position: fixed;

            .ic-next {
                display: inherit;
                width: 8%;
                left: 86%;
                bottom: 19%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 8%;
                    left: 84%;
                    bottom: 20%;
                }
            }
            .ic-back {
                display: inherit;
                width: 8%;
                left: 6%;
                bottom: 19%;
                position: fixed;

                @media only screen and (max-device-width: 768px) {
                    width: 8%;
                    left: 8%;
                    bottom: 20%;
                }
            }
        }
    }
}

.card-content-final {
    margin: 1.5rem;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
    font-family: DB Heavent;
    letter-spacing: 0px;
    color: #49382f;
    opacity: 1;

    .how-to-play5 {
        display: inherit;
        height: 72%;
        left: 19.5%;
        bottom: 12%;
        position: fixed;

        @media only screen and (max-device-width: 768px) {
            left: 20.5%;
        }
    }
    .close-ic {
        display: inherit;
        left: 74%;
        bottom: 77%;
        position: fixed;

        @media only screen and (max-device-width: 768px) {
            left: 75%;
        }
    }
}

