body {
    font-family: "DB Heavent";
}
.bg-img-style {
    width: 100%;
    min-height: 100%;
    position: fixed;
    box-shadow: #888 0px 0px 5px;
    background: transparent url(../../../assets/aunjaiAssets/bg/bg_AIS_Game_1024x768.png);
    // background-size: auto 100%;
    background-size: 245% 100%;
    background-position-x: center;
}

.container_bg {
    .bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1005;
        background-color: rgba(85, 100, 47, 0.9); //สีตาม design แปลง rgba
    }
    .card-tutorial {
        .h-t-p-1 {
            margin: 2rem;
            width: 80%;
            position: fixed;
            left: 6%;
            top: 2%;

            @media only screen and (max-device-width: 414px) {
                margin: 1rem;
                width: 90%;
                position: fixed;
                left: 1%;
                top: 8%;
            }
        }
        .h-t-p-2 {
            margin: 2rem;
            width: 80%;
            position: fixed;
            left: 6%;
            top: 2%;

            @media only screen and (max-device-width: 414px) {
                margin: 1rem;
                width: 90%;
                position: fixed;
                left: 1%;
                top: 8%;
            }
        }
        .h-t-p-3 {
            margin: 2rem;
            width: 80%;
            position: fixed;
            left: 6%;
            top: 2%;

            @media only screen and (max-device-width: 414px) {
                margin: 1rem;
                width: 90%;
                position: fixed;
                left: 1%;
                top: 8%;
            }
        }
        .h-t-p-4 {
            margin: 2rem;
            width: 80%;
            position: fixed;
            left: 6%;
            top: 2%;

            @media only screen and (max-device-width: 414px) {
                margin: 1rem;
                width: 90%;
                position: fixed;
                left: 1%;
                top: 8%;
            }
        }

        .tab-next {
            .ic-next {
                width: 11%;
                left: 77%;
                bottom: 7%;
                position: fixed;

                @media only screen and (max-device-width: 600px) {
                    width: 11%;
                    left: 77%;
                    bottom: 22%;

                    @media only screen and (max-device-height: 900px) {
                        width: 11%;
                        left: 77%;
                        bottom: 17%;
                    }
                }
                @media only screen and (max-device-width: 414px) {
                    width: 10%;
                    left: 83%;
                    bottom: 16%;

                    @media only screen and (max-device-height: 823px) {
                        width: 12%;
                        left: 80%;
                        bottom: 24%;
                    }

                    @media only screen and (max-device-height: 736px) {
                        width: 10%;
                        left: 83%;
                        bottom: 16%;
                    }
                }

                @media only screen and (max-device-width: 375px) {
                    width: 12%;
                    left: 81%;
                    bottom: 29%;

                    @media only screen and (max-device-height: 667px) {
                        width: 12%;
                        left: 80%;
                        bottom: 16%;
                    }
                }
            }
            .ic-back {
                width: 11%;
                left: 13%;
                bottom: 7%;
                position: fixed;

                @media only screen and (max-device-width: 600px) {
                    width: 11%;
                    left: 14%;
                    bottom: 22%;

                    @media only screen and (max-device-height: 900px) {
                        width: 11%;
                        left: 14%;
                        bottom: 17%;
                    }
                }
                @media only screen and (max-device-width: 414px) {
                    width: 10%;
                    left: 7%;
                    bottom: 16%;

                    @media only screen and (max-device-height: 823px) {
                        width: 12%;
                        left: 8%;
                        bottom: 24%;
                    }
                    @media only screen and (max-device-height: 736px) {
                        width: 10%;
                        left: 7%;
                        bottom: 16%;
                    }
                }

                @media only screen and (max-device-width: 375px) {
                    width: 12%;
                    left: 8%;
                    bottom: 29%;

                    @media only screen and (max-device-height: 667px) {
                        width: 12%;
                        left: 9%;
                        bottom: 16%;
                    }
                }
            }
        }
    }
}

.card-content-final {
    .how-to-play5 {
        margin: 2rem;
        width: 80%;
        position: fixed;
        left: 6%;
        top: 2%;

        @media only screen and (max-device-width: 414px) {
            margin: 1rem;
            width: 90%;
            position: fixed;
            left: 1%;
            top: 8%;
        }
    }
    .close-ic {
        width: 14%;
        left: 77%;
        bottom: 85%;
        position: fixed;

        @media only screen and (max-device-width: 414px) {
            width: 14%;
            left: 82%;
            bottom: 82%;

            @media only screen and (max-device-height: 823px) {
                width: 14%;
                left: 81%;
                bottom: 83%;
            }
            @media only screen and (max-device-height: 736px) {
                width: 14%;
                left: 82%;
                bottom: 82%;
            }
        }
        @media only screen and (max-device-width: 375px) {
            width: 14%;
            left: 82%;
            bottom: 84%;

            @media only screen and (max-device-height: 667px) {
                width: 14%;
                left: 82%;
                bottom: 82%;
            }
        }
    }
}
