<body>
    <div class="container_bg">
        <div class="bg">
            <img class="bg-img-style" src="../../assets/aunjaiAssets/bg/bg_game@2x.png">
            <div>
                <img class="img-loading" src="../../assets/aunjaiAssets/header/loading_game_ic.svg">
            </div>
            <div>
                <img class="img-loading-proc" src="../../assets/aunjaiAssets/component/loading_bg.svg">
            </div>
            <div>
                <img class="img-aunjai-home" src="../../assets/aunjaiAssets/avatar/Group_2048@2x.png">
            </div>

            <!-- สำหรับกดไปหน้าต่อไป ชั่วคราว -->
            <div>
                <a routerLink="/tutorial" routerLinkActive="active">
                    <img class="btn-next-page" src="../../assets//aunjaiAssets/component/play_ic.svg">
                </a>
            </div>
        </div>
    </div>
</body>