h3 {
    text-shadow: 0.1em 0.1em #333;
}

.bg-img-style {
    width: 100%;
    min-height: 100%;
    position: fixed;
    box-shadow: #888 0px 0px 5px;
    background: transparent url(../../../assets/aunjaiAssets/bg/min/bg_AIS_Game_1024x768-min.png);
    background-size: 245% 100%;
    background-position-x: center;
  


    .language {
        position: absolute;
        width: 14vh;
        margin: 1vh;
        right: 0;
        top: 2vh;
    }
    .img-logo-reward-flip {
        position: inherit;
        width: 100%;
        margin: 4vh auto 0 auto;
        display: block;
             @media only screen and (max-width: 700px) {
                margin:  36%  auto 0 auto;
            }
    }
    .box-landing_1 {
        background: transparent url(../../../assets/aunjaiAssets/component/redeem_en.png);
        height: 28vw;
        background-size: contain;
        margin: 10% auto 0 auto;
        background-repeat: no-repeat;
        @media only screen and (max-height: 800px) {
            margin: -5% 2% 0 2%;
        }
    }
  
 

    .footer {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        bottom: 20%;

        .how-to-play-border {
            position: absolute;
            width: 40vw;
            left: 50%;
            transform: translate(-50%, 0);
             margin-top: -4vh;
        }
        .text-condition {
            position: absolute;
            width: 40vw;
            left: 50%;
            transform: translate(-50%, 0);
            margin-top: 7vh;
        }
    }
}
