<button id="resultGameWin"  style="display:none;" (click)="resultGame()"></button>




<div class="container">
    <div class="baground_forest">
        <header-game></header-game>
        <br><br>

        <div id="divBtn">

            <button class="buttonStart" id="start_game">
                <span *ngIf="langauge === 'TH'"> เล่นเลย </span>
                <span *ngIf="langauge === 'ENG'"> PLAY </span>
            </button>
        </div>

        <div id="kick_jump">
            <img src="../../../assets/aunjaiAssets/avatar/min/Cloth_Point_02@2x-min.png" alt="" style="width: 28vw;">
        </div>

        <div id="heading-Text">
            <img src="../../../assets/aunjaiAssets/header/ready_ic@2x.png" id="textHeader">
        </div>
        <div id="board">
            <div id="box1" style="left: 0vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
            <div id="box2" style="left: 33vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
            <div id="box3" style="left: 66vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
        </div>
    </div>
</div>
<div id="body-popup-puse" *ngIf="true">
    <div style="text-align: center;" class="bodyThis">
        <div class="redeem-point" id="redeem-point" *ngIf="true">
            <div>
                <div class="aunjai-logo">
                </div>
                <span *ngIf="langauge === 'TH'" class="textBody"> เกมหยุดชั่วคราว </span>
                <span *ngIf="langauge === 'ENG'" class="textBody"> Paused </span>
            </div>
            <!-- <div *ngIf="langauge === 'ENG'"> -->
            <div>
                <div class="aunjai-logo">
                </div>
                <button class="buttonPause" id="btnResumeGame">
                    <span *ngIf="langauge === 'TH'"> เล่นเลย </span>
                    <span *ngIf="langauge === 'ENG'"> RESUME </span>
                </button>
            </div>


        </div>
    </div>
</div>

<div class="loading" *ngIf="load">
    <div style="text-align: center;" class="bodyThis">
        <div class="spinner-border" role="status" style="margin-top: 35%;">
            <span class="sr-only ">Loading...</span>
        </div>
        <p>Loading...</p>
    </div>
</div>

<popup-game [langauge]="langauge"></popup-game>
<popup-win [langauge]="langauge" [winShow]="winShow"></popup-win>
<popup-lose [langauge]="langauge" [loseShow]="loseShow"></popup-lose>
<!-- <network-Chk></network-Chk> -->