<div class="d-flex justify-content-center">
    <div id="content">
        <div id="js_speed_slider"></div>
        <div id="kick_jump">
            <img src="../../../assets/aunjaiAssets/img/kick_jump.png" alt="">
        </div>
        <!-- <div id="heading">
            Aunjai inbox
        </div> -->
        <!-- <div id="board">
            <div id="box1">
                <img src="../../../assets/aunjaiAssets/img/box_o.svg" id="box_o_t" alt="">
            </div>
            <div id="box2">
                <img src="../../../assets/aunjaiAssets/img/box_o.svg" id="box_o_t" alt="">
            </div>
            <div id="box3">
                <img src="../../../assets/aunjaiAssets/img/box_o.svg" id="box_o_t" alt="">
            </div>
        </div> -->
    </div>
</div>





<!-- <div id="content">
    <div id="js_speed_slider"></div>
    <div id="kick_jump">
        <img src="../../../assets/aunjaiAssets/img/kick_jump.png" alt="">
    </div>
    <div id="heading">
        Aunjai inbox
    </div>
    <div id="board">
        <div id="box1">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
        <div id="box2">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
        <div id="box3">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
    </div>
</div> -->

<!-- <div id="content">
    <div id="js_speed_slider"></div>
    <div id="kick_jump">
        <img src="../../../assets/aunjaiAssets/img/kick_jump.png" alt="">
    </div>
    <div id="heading">
        Aunjai inbox
    </div>
    <div id="board">
        <div id="msg_bd">
            <a id="start_game">Start the Game</a>
        </div>
        <div id="box1">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
        <div id="box2">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
        <div id="box3">
            <img src="../../../assets/aunjaiAssets/img/box_o_t.png" id="box_o_t" alt="">
            <img src="../../../assets/aunjaiAssets/img/box_o_b.png" id="box_o_b" alt="">
        </div>
    </div>


    <div id="footer">
        <span style="color:#333; font-size:12px;">test</span>
    </div>
</div> -->