<!-- checkOverGame -->
<button id="checkOverGame" name="checkOverGame" style="display:none;" (click)="resultGame('false')" ></button>
<button id="resultGameWin" name="resultGameWin" style="display:none;" (click)="resultGame('true')" ></button>


<div *ngIf="load" class="bg-load">
    <div class=container4>
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>
</div>

<div class="container">
    <div class="baground_forest">
        <header-game></header-game>
        <div id="divBtn">
            <button class="buttonStart" id="start_game">
                เล่นเลย
            </button>
        </div>

        <div id="kick_jump">
            <img src="../../../assets/aunjaiAssets/avatar/min/Cloth_Point_02@2x-min.png" alt="" style="width: 28vw;">
        </div>

        <div id="heading-Text">
            <img src="../../../assets/aunjaiAssets/header/ready_ic.svg" id="textHeader">
        </div>
        <div id="board">
            <div id="box1" style="left: 0vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
            <div id="box2" style="left: 33vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
            <div id="box3" style="left: 66vw;">
                <img src="../../../assets/aunjaiAssets/component/Group_2069@2x-min.png" id="box_o_b">
            </div>
        </div>
    </div>
</div>
<popup-game></popup-game>
<popup-win></popup-win
    
    >
<popup-lose></popup-lose>