<div id="body-popup-lose">
   
    <div style="text-align: center;" class="bodyThis" *ngIf="langauge === 'TH'">
        <div class="aunjai-cry">
        </div>
        <span class="textBody" style="font-size: 6vw;"> <b> เสียใจด้วย </b></span><br>
        <span class="textBody"> เสียใจด้วย คุณทายผิด ลองใหม่อีกครั้ง</span><br>
        <span class="textBody"> สู้ๆนะ!</span>
        
        <button class="buttonLose" id="btn_get_treat"  [routerLinkActive]="['isActive']" [routerLink]="['/reward_flip']">
            ลองใหม่
        </button>
    </div>

    <div style="text-align: center;" class="bodyThis" *ngIf="langauge === 'ENG'">
        <div class="aunjai-cry">
        </div>
        <span class="textBody" style="font-size: 6vw;"> <b> Sorry, You Lose </b></span><br>
        <span class="textBody"> Please Try Again</span>
        <button class="buttonLose" id="btn_get_treat" (click)="playAgain();"  [routerLinkActive]="['isActive']" [routerLink]="['/reward_flip']">
            PLAY AGAIN
        </button>
    </div>
</div>