::ng-deep popup-lose {
    font-family: "DB Helvethaica" ;
}
.close {
    background: transparent url(../../../../assets/aunjaiAssets/component/close_ic.svg);
    top: 17%;
    margin: auto;
    background-position: center;
    min-height: 9%;
    min-width: 26%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    right: -2px;
    outline: none;
    opacity: 1;
}

.aunjai-cry {
    background: transparent url(../../../../assets/aunjaiAssets/avatar/Aunjai_Cry@2x.png);
    top: 4vh;
    margin: auto;
    background-position: center;
    min-height: 30%;
    min-width: 50%;
    position: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 28%;
}

.textBody {
    position: relative;
    font-size: 4vw;
    top: 20vh;
    color: #49382f;
    font-style: italic;
}

#body-popup-lose {
    display: none;
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyThis {
    position: relative;
    width: 90%;
    height: 66%;
    display: table;
    margin: 0 auto;
    z-index: 100;
    top: 20%;
    background-color: white;
    border-radius: 4vh;
    padding: 2vh;
}

.buttonLose {
    background: transparent url(../../../../assets/aunjaiAssets/component/btn@2x.png);
    border: none;
    top: 70vh;
    margin: auto;
    background-position: center;
    min-height: 10%;
    min-width: 42%;
    position: fixed;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    outline: none;
    opacity: 1;
    font-size: 6vw;
    left: 30%;
    font-family: "DB_Heavent_Bd_It";
}

.container {
    padding: 0px;
    margin: 0px;
}