<body class="image-fade-in" class="tablet-loading-body">
     <!-- <div class="image-fade-in" [@FadeOutAnimation]="'in'" class="tablet-loading-body"> -->
        <div id="heading">
            <img src="../../../../assets/aunjaiAssets/header/loading game_ic.svg" id="textHeader">
        </div>
        <div id="heading-loading">
            <div *ngIf="loading" class="loading-Bar"></div>
        </div>

        <div id="logo-loading">
            <div class="aunjai-logo">
            </div>
        </div>
</body>

<!-- <game-aunjai [@FadeInAnimation]="'out'"></game-aunjai> -->