// default style ipad pro, tablet

.tablet-loading-body {
    width: 100%;
    min-height: 100%;
    position: fixed;
    box-shadow: #888 0px 0px 5px;
    background: transparent url(../../../../assets/aunjaiAssets/bg/bg_AIS_Game_1024x768.png);
    background-size: auto 100%;
    background-position-x: center;
}

.loading-Bar {
    position: fixed;
    width: 23%;
    bottom: 56.5%;
    left: 32.5%;
    z-index: 2;
}

.aunjai-logo {
    position: fixed;
    width: 60%;
    bottom: 18%;
    left: 22%;
}

.logo-loading {
    position: fixed;
    width: 65%;
    bottom: 58%;
    left: 20%;
}
.load-bg {
    position: fixed;
    width: 38%;
    bottom: 56%;
    left: 32%;
}