// default style ipad pro, tablet

::ng-deep loading-game {
    font-family: "DB Helvethaica"!important;
}
.tablet-loading-body {
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 999;
    background: transparent url(../../../../assets/aunjaiAssets/bg/min/bg_AIS_Game_1024x768-min.png);
    // background: transparent url(../../../assets/aunjaiAssets/bg/bg_AIS-Game_tablet.png);
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.loading-Bar {
    position: fixed;
    width: 23%;
    bottom: 56.5%;
    left: 32.5%;
    z-index: 2;

    @media only screen and (max-device-width: 420px) {
        position: fixed;
        width: 29%;
        bottom: 58.5%;
        left: 27.5%;
        z-index: 2;
    }
}

.aunjai-logo {
    position: fixed;
    width: 60%;
    bottom: 18%;
    left: 22%;

    @media only screen and (max-device-width: 420px) {
        position: fixed;
        width: 80%;
        bottom: 18%;
        left: 13%;
    }
}

.logo-loading {
    position: fixed;
    width: 65%;
    bottom: 58%;
    left: 20%;

    //for Iphone
    @media only screen and (max-device-width: 420px) {
        position: fixed;
        width: 85%;
        bottom: 59%;
        left: 10%;
    }
}
.load-bg {
    position: fixed;
    width: 38%;
    bottom: 56%;
    left: 32%;

    @media only screen and (max-device-width: 420px) {
        position: fixed;
        width: 49%;
        bottom: 58%;
        left: 27%;
    }
}
