<body class="tablet-loading-body">


    <div>
        <img class="logo-loading" src="../../../../rewardflip/../assets/aunjaiAssets/header/loading_game_ic.svg">
    </div>

    <div>
        <img *ngIf="loading" class="loading-Bar" src="../../../../rewardflip/../assets/aunjaiAssets/component/loading_process_ic.svg">
        <img class="load-bg" src="../../../../rewardflip/../assets/aunjaiAssets/component/loading_bg.svg">
    </div>

    <div>
        <img class="aunjai-logo" src="../../../../rewardflip/../assets/aunjaiAssets/avatar/Group_2048@2x.png">
    </div>
</body>