<div class="tablet-Header">
    <div class="img-Round" id="msg_bd">Game 1 of {{totalRound}}</div>
    <div class="round-cup">
        <div id="img-Round-cup1" >
            <img src="../../../../assets/aunjaiAssets/component/Group_2069.svg">
        </div>
        <div id="img-Round-cup2">
            <img src="../../../../assets/aunjaiAssets/component/Group_2069.svg">
        </div>
        <div id="img-Round-cup3">
            <img src="../../../../assets/aunjaiAssets/component/Group_2069.svg">
        </div>
        <div id="img-Round-cup4"*ngIf="totalRound >= 4">
            <img src="../../../../assets/aunjaiAssets/component/Group_2069.svg">
        </div>
        <div id="img-Round-cup5" *ngIf="totalRound >= 5">
            <img src="../../../../assets/aunjaiAssets/component/Group_2069.svg">
        </div>
    </div>
</div>