.tablet-Header {
    position: absolute;
    display: inline-block;
    width: 100%;
}
.img-Round {
    background: transparent url(../../../../assets/aunjaiAssets/component/game_round_bg.svg);
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.round-cup {
    float: right;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 80px;
    margin-top: 14px;
}

.img-Round-cup1,
.img-Round-cup2,
.img-Round-cup3 {
    opacity: 0.2;
}
