.tablet-Header {
    position: absolute;
    display: inline-block;
    width: 100%;
}
.img-Round {
    background: transparent url(../../../../assets/aunjaiAssets/component/game_round_bg.svg);
    height: 100px;
    float: left;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}
.round-cup {
    float: right;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 80px;
    margin-top: 14px;
}

#img-Round-cup1,
#img-Round-cup2,
#img-Round-cup3,
#img-Round-cup4,
#img-Round-cup5 {
    opacity: 0.2;
    display: inline;
}
